/* --------------------------------------------------
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Navigation/Header
*/

/* -----------------------------------------
   Shared Styles
----------------------------------------- */
html{
   /* filter: alpha(opacity=30); */
	padding:0;
	margin:0;
    height: 100%;
}
body{
	padding:0;
	margin:0 auto;
    height: 100%;
}
@font-face {
    font-family: 'WebSymbolsRegular';
    src: url('../fonts/websymbols-regular-webfont.eot');
    src: url('../fonts/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/websymbols-regular-webfont.woff') format('woff'),
         url('../fonts/websymbols-regular-webfont.ttf') format('truetype'),
         url('../fonts/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family:'RaphaelIcons';
    src:url('../raphaelicons/raphaelicons-webfont.eot');
    src:local('â˜º'), 
        url('../raphaelicons/raphaelicons-webfont.woff') format('woff'), 
        url('../raphaelicons/raphaelicons-webfont.ttf') format('truetype'), 
        url('../raphaelicons/raphaelicons-webfont.svgwebfontKOf9F4sx') format('svg');
    font-weight: normal;
    font-style: normal;
}
.icons{
	font-family: 'WebSymbolsRegular';
}
.raphael{

}
/* -----------------------------------------
   Navigation/Header
----------------------------------------- */
#header{
    position: relative;
    top:0;
    width:100%;
    z-index:740;
    margin-bottom:0.1em;
    border-bottom: 3px solid rgba(0, 0, 0, 1);
    box-shadow: 0 0 15px rgba(10, 10, 10, 0.5);
}
#header .container{
    padding-bottom: 0;
}
#header .container > .row{
    padding-bottom: 0;
}
#header .container > .row .columns{
    padding-bottom: 0;
    margin-bottom: -0.5em;
}
#header #navigation ul.branding li.mobile-logout{
    display: none;
}
#header #navigation a.brand{
    position: relative;
    top:0.3em;
    font-size:1.1em;
    font-weight: 600;
    color:rgba(141, 141, 146, 1);
    color:#8d8d92;
    text-shadow:0 -1px 1px rgba(0,0,0,0.5); 
    padding:5px 0px;
    margin-top: 1em;
}
#header .twelve.columns{
    padding:5px 0;
}
#header ul.branding{
    display:block;
    float:right;
    margin-top:0.2em;
    margin-bottom:0.4em;
    padding:0;
}
#header ul.branding li{
    display:inline;
    margin:0.5em 0.5em;
}
#header ul.branding li a img{
    position: relative;
    top:-4px;
    width: 65px;
    padding-bottom: 0;
    margin-bottom: -8px;
    margin-right: 5px;
}
#header ul.nav{
    display:block; 
    margin-top:0.2em;
    margin-bottom:0em;
    margin-left: 0.4em;
}
#header ul:not(.subnav) > li{
    list-style-type: none;
    float:left;
    padding-left: 0;
    padding-right: 0;
    margin: 0.5em -1em 0.5em -0.2em;
}
#header ul:not(.subnav) li.user-details{
    position: relative;
    margin-right: 0.5em;
    color:rgba(141, 141, 146, 1);
    text-transform:none;
    font-weight: 500;
    font-size:0.9em;
}
#header ul:not(.subnav) li.nav-divider{
    border-right:1px solid rgba(61, 61, 61, 0.6);
    border-left:1px solid rgba(31, 31, 31, 1);
    padding-left: 0;
    padding-right: 0;
    padding-top: 1.2em;
    padding-bottom: 1em;
}
#header ul:not(.subnav) li.nav-list > a{
    float: left;
    position: relative;
    padding: 0px 40px;
    height: 0; 
    line-height: 35px;
    font-weight:400;
    font-size:0.9em;
    color:rgba(0, 0, 0, 1);
    text-transform: uppercase;
    padding:0px 20px;
    border-right: 40px solid transparent;
    border-bottom: 40px solid rgba(0, 0, 0, 0.1);
    opacity: .5;
    filter: alpha(opacity=50);
    transition: border 0.2s;
    -webkit-transition: border 0.2s;
    -moz-transition: border 0.2s;
    -o-transition: border 0.2s;
}
#header ul:not(.subnav) > li.nav-list > a span{
    position: relative;
    top:0.15em;
}
#header ul:not(.subnav) > li.user-details > a{
    float: left;
    position: relative;
    padding: 10px 10px;
    color:rgba(81, 81, 81, 1);
}
#header ul:not(.subnav) > li.user-details > a:hover{
    background: none;
    color:rgba(81, 81, 81, 1);
    text-shadow:none;
}
#header ul:not(.subnav) li.nav-list > a:hover, #header ul:not(.subnav) li.nav-list > a:focus{
    border-right: 40px solid transparent;
    border-bottom: 40px solid #2ac7e1;
    border-bottom-color: #2ac7e1;
    opacity: 1;
    filter: alpha(opacity=100);
}
#header ul:not(.subnav) li > a.active{ 
    font-weight: 500;
    color:rgba(255, 255, 255, 1);
    border-right: 40px solid transparent;
    border-bottom: 40px solid #3D3D3D;
    border-bottom-color: #777\9;
    opacity: 1;
    filter: alpha(opacity=100);
    z-index: 3;
}
#header ul:not(.subnav) li > a.active:hover{
    border-bottom-color: #3D3D3D;
}
#header ul:not(.subnav) li a span.raphael{
    font-family:'RaphaelIcons';
    font-size: 1.5em;
    font-weight:600;
}
#header ul.nav li > ul.subnav{
    position: absolute;
    left:59%;
    background:rgba(231, 231, 231, 1);
    border-top: 3px solid rgba(0, 0, 0, 1);
    margin-top: 2.9em;
    padding:0;
    overflow: hidden;
    z-index: 340px;
    box-shadow: 0 0px 3px rgba(200, 200, 200, 1);
    display: none;
}
#header ul.nav li > ul.subnav > li{
    display: block;
    padding:7px 0px;
    margin: 0;
    border-bottom: 1px solid rgba(210, 210, 210, 1);
    border-top:     1px solid rgba(240, 240, 240, 1);
    border-left:    4px solid #ccc;
    border-left:    4px solid rgba(204, 204, 204, 1);
    overflow: hidden;
}
#header ul.nav li > ul.subnav li:first-child{
    border-top: none;
}
#header ul.nav li > ul.subnav li:last-child{
    border-bottom: none;
}
#header ul.nav li > ul.subnav li:hover{
    background: rgba(220, 220, 220, 1);
}
#header ul.nav li > ul.subnav li a{
    padding:32px;    
    font-weight:400;
    color:rgba(81, 81, 81, 1);
    text-transform: none;
    text-shadow:none;
}
#header ul.nav li > ul.subnav li a:hover{
    text-decoration: none;
    background: none;
}
/* -----------------------------------------
   Search/User
----------------------------------------- */
#search-bar{
    margin-bottom: -0.3em;
    padding-top: 10px;
    z-index: 840;
}
#search{
    margin-top:3.45em;
    margin-bottom: -2em;
    padding-top:2px;
    padding-bottom: 0px;
    background: rgba(255, 255, 255, 0.5);
}
#search .container.user .row {
    padding-bottom: 0;
    margin-bottom: -0.75em;
}
#search .container.user .row .eight{
    padding-bottom: 0;
    margin-bottom: -0.75em;
}
#search .container.user .row .eight h6{
    position: relative;
    top:-0.5em;
    font-weight: 400;
}
/* -----------------------------------------
   Content
----------------------------------------- */
#content{
    margin-top:0.1em;
    margin:0 0px;
    background: url('../images/subtle_dots.png');
}
#content .container.user .row .eight h5{
    position: relative;
    top:-0.4em;
}
#content .container.wrap{
    background: rgba(221, 221, 221, 0.5);
    padding:40px 0px;
    margin-left:100px;
    margin-right:100px;
    min-height: 600px;
}
#content .container.wrap > .row{
    background: rgba(255, 255, 255 , 1);
    box-shadow: 0 0px 10px rgba(121, 121, 121, 0.5);
}
#content .container.wrap h5{
    margin-top:0.4em;
}
#content .container.wrap .search{
    margin-top: 1em;
}
#content .container.wrap #tab-area{
    margin-top: 1em;
}
#content .container.wrap #outline form textarea{
    height: 100px;
}
#content .container.wrap #outline form label{
    margin-bottom: 0.5em;
}
#content .container.wrap #outline h4{
    border-bottom: 3px solid #ddd;
    padding-bottom: 0.5em;
}
#content .container.wrap #outline h6{
    margin-bottom: 0.25em;
}
#content .container.wrap #outline p{
    padding:0 0px;
    font-size: 0.95em;
}
#content .container.wrap #outline ul.outline-details{
    padding:0 10px;
}
#content .container.wrap #outline ul.outline-details li{
    font-size: 0.9em;
}
/* -----------------------------------------
   Welcome Page
----------------------------------------- */
#content .container.wrap #inner-page-wrap{
    border-top:1px solid rgba(221, 221, 221, 1);
    z-index: -340;
}
#content .container.wrap #inner-page-wrap #welcome > .row{
  
}
#content .container.wrap #inner-page-wrap #welcome h4{
    border-bottom: 3px solid #ddd;
    padding-bottom: 0.5em;
}
#content .container.wrap #inner-page-wrap #welcome #featuredContent{
    background:#eee;
    background:rgba(221, 221, 221, 0.7);
    margin-bottom: 1em;
}
#content .container.wrap #inner-page-wrap #welcome #featuredContent div{
    padding:10px;
}
#content .container.wrap #inner-page-wrap #welcome .row .six p{
    border:1px solid rgba(221, 221, 221, 0.7);
    border:1px solid #eee;
    padding:1em;
}
#content .container.wrap #inner-page-wrap #welcome .row .six p a{
    clear: both;
    margin-top: 0.5em;
    padding-top:0.5em;
    border-top:1px dotted #ddd;
    display: block;
}
/* -----------------------------------------
   Course Page
----------------------------------------- */
#content .container.wrap #inner-page-wrap .three img{
    padding:3px;
    margin-top: 1em;
    border:1px solid #ddd;
    width:260px;
}
#content .container.wrap #inner-page-wrap .three dl{
    margin-top: 0.7em;
}
#content .container.wrap #inner-page-wrap .three dl.nice.vertical.tabs dd a:hover{
    border:none;
    background:#888;
    color:#fff;
}
#content .container.wrap #inner-page-wrap .three ul.course-edit{
    padding:2px 4px;
    margin-bottom: 0em;
    border-bottom: 1px dotted #ddd;
}
#content .container.wrap #inner-page-wrap .three ul.course-edit li{
    display: inline-block;
    margin-right: 0.3em;
}
#content .container.wrap #inner-page-wrap .three ul.course-edit li.nav-div{
    border-right:1px dotted #ddd;
}
#content .container.wrap #inner-page-wrap .three ul.side-nav{
    padding:5px 4px;
    margin-top: 0em;
}
/* -----------------------------------------
   Footer
----------------------------------------- */
#footer #topFooter{
    padding-top: 0.4em;
    border-top:1px solid rgba(221, 221, 221, 0.5);
    z-index: 340;
}
#footer #topFooter > .row{
}
#footer #topFooter p{
    color: #eee;
    margin-top: 0.6em;
    margin-bottom: -0.5em;
}
#footer #topFooter h5{
    margin-bottom: 0.5em;
}
#footer #topFooter ul{
    margin-top: 0.6em;
    margin-bottom: 0.6em;
}
#footer #topFooter form{
    margin-top: 0.8em;
}
#footer #topFooter textarea{
    height: 100px;
}
#footer #topFooter ul li{
    list-style: none;
    margin:0;
    padding: 0;
}
#footer #topFooter ul li a{
    font-size: 0.85em;
    color:rgba(81, 81, 81, 1);
}
#footer #bottomFooter{
    padding-top: 5px;
    padding-bottom: 5px;
    border-top:1px dotted rgba(221, 221, 221, 1);
    z-index: 440;
}
#footer #bottomFooter p{
    color:rgba(81, 81, 81, 1);
    font-size: 0.85em;
    margin-top: 0.6em;
    margin-bottom: 0em;
}
#footer #bottomFooter ul{
    margin-top: 1.9em;
    margin-bottom: 0.6em;
}
#footer #bottomFooter ul li{
    margin-left: 0.3em;
    margin-right: 0.3em;
}
#footer #bottomFooter ul li{
    color:rgba(81, 81, 81, 1);
    font-size: 0.8em;
}
#footer #bottomFooter ul li.footer-div{
    font-weight: 200;
}
#footer #bottomFooter ul li a{
    color:rgba(81, 81, 81, 1);
    font-weight: 500;
}
/* -----------------------------------------
     CLEAR FIX
----------------------------------------- */
.clearfix:after {content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix { height: 1%;}
.clearfix {display: block;}
/* -----------------------------------------
   Media
----------------------------------------- */
@media all and (max-width:478px){
    #header #navigation ul.branding li.mobile-logout{
        display: block;
    }
    #header ul.branding li{
        float:left;
    }
    #header ul.nav{
        display:none;
    }
    #header ul.branding li a span.raphael{
        font-family:'RaphaelIcons';
        font-size: 1.5em;
        font-weight:600;
    }
    #search{
        margin-top:3.9em;
        background: rgba(255, 255, 255, 0.5);
    }
    #search .container.user .row .eight h6{
        position: relative;
        top:0.2em;
    }
    #search .container.user .row {
        padding-bottom: 0;
        margin-bottom: -0.5em;
    }
    #search .container.user .row .eight{
        padding-bottom: 0;
        margin-bottom: -0.5em;
    }
    #content{
        margin-top:2em;
        padding:0;
    }
    #content .container.wrap{
        margin-left: 0;
        margin-right: 0;
    }
    #content .container.wrap #outline h5, #content .container.wrap #outline h6{
        padding-left: 5px;
    }
}
@media all and (max-width:798px){
    #header #navigation ul.branding li.mobile-logout{
        display: block;
    }
    #header ul.branding li{
        float:left;
    }
    #header ul.nav{
        display:none;
    }
    #header ul.branding li a span.raphael{
        font-family:'RaphaelIcons';
        font-size: 1.5em;
        font-weight:600;
    }
    #search{
        margin-top:3.9em;
        background: rgba(255, 255, 255, 0.5);
    }
    #search .container.user .row .eight h6{
        position: relative;
        top:0.2em;
    }
    #content{
        margin-top:2em;
        padding:0;
    }
    #content .container.wrap{
        margin-left: 0;
        margin-right: 0;
    }
    #content .container.wrap #outline h5, #content .container.wrap #outline h6{
        padding-left: 5px;
    }
}